/* Over all text style */
* {
  font-family: Arial, verdana, sans-serif;
}

/* Header style */
h3 {
  font-weight: bold;
  margin: 5px 0px 3px 0px;
  padding: 0px;
  color: black;
}

/* Two column view */
div#column-left {
  display: block;
  width: 510px;
  background-color: #E0ECF8;
  position: absolute;
  left: 5px;
  top: 5px;
}

div#column-right {
  display: block;
  width: 600px;
  background-color: #FAFAFA;
  position: absolute;
  left: 520px;
  top: 5px;
}

div#column-right table {
  width: 100%;
}
table tr th {
  background-color: #D8D8D8;
}

td.tdr { text-align: right; }
td.trl { text-align: left; }
td.tdc { text-align: center; }
td.tddel { text-align: center; width: 50px; }
td.tdr, td.tdl { width: 12%; }
  

/* Style of the input fields for the forms */
ul {
  list-style: none;
  display: block;
  display: flex;
  flex-direction: column;
}

li {
  display: block;
  float: none;
}

li input, li select  {
  width: 150px;
}

li idesc {
  width: 130px;
  font-style: italic; 
  float: left;
  display: block;
}

/* Style of the screen message */
div#message {
  display: block;
  width: 500px;
  background-color: #33CCFF;
  border: 2px solid black;
}
div#message.error {
  background-color: #F5A9A9;
}
div#message.ok {
  background-color: #BEF781;
}

/* Warning text */
span.warning {
  color: red;
  font-style: italic;
}
